.chapterPage {
  &.removeElements {
    #Bottum_Down,
    div.announ,
    article > div.bixbox.episodedl > div.bixbox,
    div.socialts {
      display: none !important;
    }
  }

  .chapter-content {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }

  #kol_navbar {
    line-height: initial;
  }
  .sentinel {
    width: 100%;
    height: 1px;
  }
}
